body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --bg-color: #f0f0f0;
    --text-color: #000;
    --container-bg-color: #fff;
    --input-bg-color: #fff;
    --input-text-color: #000;
    --gallery-bg-color: #fff;
    --lightbox-bg-color: rgba(0, 0, 0, 0.8);
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --container-bg-color: #1e1e1e;
    --input-bg-color: #333;
    --input-text-color: #fff;
    --gallery-bg-color: #1e1e1e;
    --lightbox-bg-color: rgba(98, 98, 98, 0.8);
}

.gallery-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#search-bar {
    flex: 1;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.search-icon {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition: color 0.3s;
}

.theme-toggle i {
    display: none;
}

.theme-toggle .fa-sun {
    display: block;
}

body.dark-mode .theme-toggle .fa-sun {
    display: none;
}

body.dark-mode .theme-toggle .fa-moon {
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lightbox-bg-color);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.lightbox-content {
    max-width: 90%;
    max-height: 80%;
}

.close, .prev, .next, .download {
    position: absolute;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.close {
    top: 10px;
    right: 25px;
}

.prev {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.next {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.download {
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 80px;
    text-decoration: none;
    font-size: small;
}

.download:hover {
    background-color: #05537279;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.download:active {
    background-color: #033d4d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close:hover, .prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Hover effect for prev and next buttons */
.next {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.next:hover {
    transform: translateY(-50%) translateX(10px);
}

/* Add the following CSS to create a hover effect for the next image */
.hover-effect {
    transform: scale(1.05);
    transition: transform 0.3s;
}

